In [1]:
#Q1 multiplication of number.
num=int(input("display multiplication tables of number:"))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

display multiplication tables of number:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [2]:
#Q2 palindrome of number
num=int(input("enter number to check whether the no is palindrome or not:"))
temp=num
rev=0
while(num>0):
    d=num%10
    
    rev=rev*10+d
    num=num//10
if(temp==rev):
    print("number is palindrome")
else:
    print("number is not palindrome")

enter number to check whether the no is palindrome or not:202
number is palindrome

In [1]:
#Q3 factorial of number
num=int(input("enter number:"))
fact=1   
for i in range(2,num+1):
        fact*=i
print("factorial of the number:",fact)

enter number:5
factorial of the number: 120

In [7]:
#Q4 leap year or not 
num=int(input("enter year:"))
if((num%4==0 and num%100!=0)):
        print("the give year is leap year")
else:
        print("the give year is not leap year")

enter year:2004
the give year is leap year

In [5]:
#Q5 fibonacci seris
n=int(input("enter num:"))
num1=0
num2=1
next_num=num2
cnt=1
while cnt<=n:
    
    print(next_num,end=" ")
    cnt+=1
    num1,num2=num2,next_num
    next_num=num1+num2
print()

enter num:5
1 2 3 5 8

In [2]:
#Q6 enter operations to be performed:+,-,*,/
n=int(input("enter a num   :"))
n1=int(input("enter a num   :"))
ch=input("enter operations to be performed:+,-,*,/    : ")
r=0
if ch =='+':
    r=n+n1
elif ch =='-':
    r=n1-n2
elif ch =='*':
    r=n*n1
elif ch =='/':
    r=n/n1
else:
    print("wrong input")
print("Ans :",r)

enter a num   :4
enter a num   :4
enter operations to be performed:+,-,*,/    : *
Ans : 16

In [20]:
#Q7 implement list opration.
lst=[1,2,3,4,[6,5,4],[3,2,5,3]]
len(lst)
lst2=[1,2,3,4,5,6]
lst3=lst+lst2
print(lst3)

#sliciing
print(lst[3:5])
#oprations
lst1=[10,20,[300,400,[500,600],500],30,40]
lst1[2][2].append(7000)
lst1

#reverse list
list=[1,2,3,4,5]
def reverse_list(list):
    new_list=list[::-1]
    return new_list
reverse_list(list)

#concatination
list1=[1,2,3,4]
list2=[1,2,3,4]
print("the original list1 is:"+str(list1))
print("the original list1 is:"+str(list2))
res=[]
for i in range(len(list1)):
    res.append(list1[i]+list2[i])
print("the list after element concatination is:"+str(res))

[1, 2, 3, 4, [6, 5, 4], [3, 2, 5, 3], 1, 2, 3, 4, 5, 6]
[4, [6, 5, 4]]
the original list1 is:[1, 2, 3, 4]
the original list1 is:[1, 2, 3, 4]
the list after element concatination is:[2, 4, 6, 8]